{{from plugin_markmin_extras import mm_extras}}
{{right_sidebar_enabled = True}}
{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

<article>
    {{if auth.has_membership('administrators'):}}
        {{=A(['edit'], _href=URL('plugin_blog', 'edit_post', args=[art.id]))}}
    {{pass}}
    {{=H2(art.title, _class='article_title')}}
    {{=SPAN(created, _class='article_date')}}
    {{=DIV(MARKMIN(art.body, extra=mm_extras), _class='article_wrapper')}}
    {{=H3('subjects', _class='tags_heading')}}
    <ul class='article_taglist'>
    {{for tag in tags:}}
        {{=LI(A(tag, _href='topics', args=[tag]))}}
    {{pass}}
    </ul>
</article>

{{block right_sidebar}}
    <p>{{include 'plugin_blog/right_sidebar.html'}}</p>
{{end}}

{{block left_sidebar}}
    {{include 'plugin_blog/left_sidebar.html'}}
{{end}}
