{{from plugin_markmin_extras import mm_extras}}
{{right_sidebar_enabled = True}}
{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

<article>
    {{if auth.has_membership('administrators'):}}
        {{=A(['edit'], _href=URL('plugin_blog', 'edit_post', args=[myclass.id]))}}
    {{pass}}
    {{=H2(myclass.title, _class='article_title')}}
    {{}}
    {{=DIV(MARKMIN(myclass.body, extra=mm_extras), _class='article_wrapper')}}
</article>

{{block right_sidebar}}
    <p>{{include 'plugin_blog/right_sidebar.html'}}</p>
    <p>
        <h2>Resources</h2>
        <ul>
        {{if parent:}}
            {{=LI(A('Course Description', _href=URL('classes', args=parent.id)))}}
        {{pass}}
        {{if children:}}
            {{for child in children:}}
                {{=LI(A(child.title, _href=URL('classes', args=child.id)))}}
            {{pass}}
        {{pass}}
        {{for d in docs:}}
            {{=LI(A(d.label, _href=URL('default', 'download', args=d.docfile)))}}
        {{pass}}
        </ul>
    </p>
{{end}}

