<div>
    <h2>Ian W. Scott</h2>
    Associate Professor of New Testament at Tyndale Seminary in Toronto, Canada.<br />
    <a href='mailto:iscott@tyndale.ca'>iscott@tyndale.ca</a><br />
    <a href=''>Curriculum Vitae</a>
</div>

<div>
<h2>Office Hours</h2>
<ul>
    <li>Mon 1:30 - 3:00 pm</li>
    <li>Thurs 4:30 - 6:00 pm</li>
    <li>or by appointment</li>
</ul>
</div>

<div>
<h2>My Sites</h2>
<ul>
    <li><a href="http://ianwscott.webfactional.com/paideia">Paideia</a></li>
    <li><a href="http://www2.tyndale.ca/~iscott/Witnesses/">Witnesses of Hope</a> </li>
    <li><a href="http://www.tyndale.ca/~missiodei">Missio Dei</a> </li>
    <li><a href="http://ocp.tyndale.ca">The Online Critical Pseudepigrapha</a> </li>
    <li><a href="http://github.com/monotasker">on Github</a> </li>
    <li><a href="http://ianwscott.webfactional.com/peergrades">Peergrades</a></li>
</ul>
</div>

<div>
<h2>Me On the Web</h2>
<ul>
    <li><a href="http://www.flickr.com/photos/ian-w-scott/">Flickr</a></li>
    <li><a href="https://plus.google.com/u/0/100103028069838784737"> Google+</a></li>
    <li><a href="http://tyndale.academia.edu/IanScott">Academia.edu</a></li>
    <li><a href="https://www.zotero.org/iscott">Zotero</a></li>
    <li><a href="https://twitter.com/ianwscott">Twitter (@ianwscott)</a></li>
    <li><a href="https://twitter.com/the_monotasker">Twitter (@the_monotasker)</a></li>
</ul>
</div> 

<script>
    $('#left_sidebar div, #right_sidebar div').live('click', function(){
        $('#left_sidebar ul, #right_sidebar ul').each(function(){
            $(this).hide('slow');
        });
        $(this).find('ul').slideToggle();
    });
</script>
