<div>
<h2>Office Hours</h2>
<ul>
    <li>T 1 - 2:30 pm</li>
    <li>W 10:30 am - 12 noon</li>
    <li>Th 11 am - 12 noon</li>
</ul>
</div>

<div>
<h2>Me On the Web</h2>
<ul>
    <li><a href="">Flickr</a></li>
    <li><a href="">Google+</a></li>
    <li><a href="">Academia.edu</a></li>
    <li><a href="">Zotero</a></li>
    <li><a href="">Twitter (@monotasker)</a></li>
    <li><a href="">Twitter (@ianwscott)</a></li>
</ul>
</div>

<div>
<h2>My Sites</h2>
<ul>
    <li><a href="https://places.fluxflex.com">Places</a></li>
    <li><a href="https://paideia.fluxflex.com">Paideia</a></li>
    <li><a href="http://www.tyndale.ca/~iscott/Witnesses/">Witnesses of Hope</a> </li>
    <li><a href="http://www.tyndale.ca/~missiodei">Missio Dei</a> </li>
    <li><a href="http://ocp.tyndale.ca">The Online Critical Pseudepigrapha</a> </li>
    <li><a href="">on Github</a> </li>
</ul>
</div>

<script>
    $('#left_sidebar div, #right_sidebar div').live('click', function(){
        $('#left_sidebar ul, #right_sidebar ul').each(function(){
            $(this).hide('slow');
        });
        $(this).find('ul').slideToggle();
    });
</script>