[submodule "plugins/plugin_listandedit"]
	path = plugins/plugin_listandedit
	url = git@github.com:monotasker/plugin_listandedit
[submodule "plugins/plugin_framework"]
	path = plugins/plugin_framework
	url = git@github.com:monotasker/plugin_framework
